{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DataScience</title>
    <link rel="shortcut icon" href="{% static 'images/DataScience.svg' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<style>

    h1,h2,h3,h4,h5,p,input,button,small{
        font-family: 'Circular';
    }

    input[type=text] {
        width: 200px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 50px;
        font-size: 25px;
        background-color: white;
        background-image: url('https://www.w3schools.com/css/searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.7s ease-in-out;
    }

    input[type=text]:focus {
      width: 100%;
    }

    body{
      background-color: #252525;
    }
    
    p{
      font-size: 20px;
    }

    hr{
      width:40%;
      border-color: white;
    }

    button{
      margin-left: 1000px;
    }

</style>


<body>
    <br><br>
    <center><h1 style="font-size: 50px;color:white;">TEST TEXT TYPE</h1></center>
    <hr>
    <br>
    <div class="container">
        <form method="POST" action="" class="shadow-lg p-3 mb-5 bg-white rounded">
            {% csrf_token %}
            <div class="form-group">
                <center><input class="form-control" type="text" name="chat" required placeholder="Text.."></center>
            </div>

            <button type="submit" class="btn btn-warning">Enter</button>
            <h1>{{ label }}</h1>
        </form>
    </div>
    <br>

    

    <div class="card-deck">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div id="img1" class="card">
          <img class="card-img-top" src="https://wallpaperaccess.com/full/1762020.jpg" alt="comp.os.ms-windows.misc">
          <div class="card-body">
            <h4 class="card-title">Computer OS microsoft windows</h4>
            <p id="p1" class="card-text">&nbsp;&nbsp; I am looking for some bar code fonts especially code 3 of 9. Did anybody know  any ftp sites or BBS that I can download these types of fonts? 
              Please email to me if you have any info.  <br>Thanks!</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Exaample computer OS microsoft windows</small>
          </div>
        </div>

        <div id="img2" class="card">
          <img class="card-img-top" src="https://http2.mlstatic.com/razer-chroma-hdk-development-kit-led-na-cpu-D_NQ_NP_845083-MLB26428499053_112017-F.jpg" alt="comp.sys.ibm.pc.hardware">
          <div class="card-body">
            <h4 class="card-title">Computer system IBM PC hardware</h4>
            <p id="p2" class="card-text">&nbsp;&nbsp;   There is a benchmark program called COMPTEST said CYRIX CPUs have a bug so they cannot run the program. Also may be NeXTSTEP 486?
              <br> regards,</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Exaample Computer system IBM PC hardware</small>
          </div>
        </div>

        <div id="img3" class="card">
          <img class="card-img-top" src="https://uploads-ssl.webflow.com/5bc276c9ccad94073c6ce0c4/5bc276c9ccad9468916ce290_iMac-Pro.jpg" alt="comp.sys.mac.hardware">
          <div class="card-body">
            <h4 class="card-title">Computer system Mac hardware</h4>
            <p id="p3" class="card-text">&nbsp;&nbsp; Could someone direct me to information on SCSI performance for each Mac? <br>
              (Max throughput, etc.)
              
              <br>
              Kurt Tiedtkebr
              <br>
              ktiedtke@jarthur.claremont.edu</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Exaample Computer system Mac hardware</small>
          </div>
        </div>

        <div id="img4" class="card">
            <img class="card-img-top" src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/triumph-speed-twin_660_042519033454.jpg" alt="rec.motorcycles">
            <div class="card-body">
              <h4 class="card-title">Motorcycles</h4>
              <p id="p4" class="card-text">&nbsp;&nbsp; Animal Rights people have been know to do that to other "Bike riding dogs.cats and Racoons.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Exaample Motorcycles</small>
            </div>
        </div>

        <div id="img5" class="card">
            <img class="card-img-top" src="https://i.imgur.com/oshb83t.jpg" alt="sci.electronics">
            <div class="card-body">
              <h4 class="card-title">Science Electronics</h4>
              <p id="p5" class="card-text">&nbsp;&nbsp; Doesn't Motorola AMCU have something on the BBS yet? (512-891-3733)</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Exaample Science Electronics</small>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script>
      $(document).ready(function(){
        $('p').hide("slow");
        $('#img1').mouseleave(function(){
          $('#p1').hide("slow");
        });
        $('#img1').mouseenter(function(){
          $('#p1').show("slow");
        });

        $('#img2').mouseleave(function(){
          $('#p2').hide("slow");
        });
        $('#img2').mouseenter(function(){
          $('#p2').show("slow");
        });

        $('#img3').mouseleave(function(){
          $('#p3').hide("slow");
        });
        $('#img3').mouseenter(function(){
          $('#p3').show("slow");
        });

        $('#img4').mouseleave(function(){
          $('#p4').hide("slow");
        });
        $('#img4').mouseenter(function(){
          $('#p4').show("slow");
        });

        $('#img5').mouseleave(function(){
          $('#p5').hide("slow");
        });
        $('#img5').mouseenter(function(){
          $('#p5').show("slow");
        });
      });
    </script>

</body>

</html>