{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DataScience</title>
    <link rel="shortcut icon" href="{% static 'images/DataScience.svg' %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<style>

    body,h1,h2,h3,h4,h5,input,button,small{
      font-family: "Raleway", sans-serif
    }

    input[type=text] {
        width: 200px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 50px;
        font-size: 20px;
        background-color: white;
        background-image: url('https://www.w3schools.com/css/searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.7s ease-in-out;
    }

    input[type=text]:focus {
      width: 90%;
    }

    .bgheader{
      background-image: linear-gradient(to right, rgb(36, 36, 36) , rgb(29, 37, 37), rgb(40, 88, 100));
    }
    
    hr{
      width:40%;
      border-color: white;
    }

    button{
      margin-left: 1000px;
      border-radius: 50px;
      
    }

    .card{
      top: 0px;
      width: 21rem;
      margin: 15px;
    }

    .w3-bar .w3-button {
      padding: 16px;
    }

    .w3-quarter{
        width: 375px;
    }

    .bg{
      background-color: rgba(31, 54, 59, 0.548);
    }

</style>


<body>



  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="#home" class="w3-bar-item w3-button w3-wide">Data Science</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a href="#group" class="w3-bar-item w3-button">GROUP</a>
        <a href="#about" class="w3-bar-item w3-button"><i class="fa fa-user"></i> ABOUT ME</a>
        <a href="#photo" class="w3-bar-item w3-button"><i class="fa fa-photo"></i> PHOTO</a>
        <a href="#exam" class="w3-bar-item w3-button"><i class="fa fa-desktop"></i> EXAMPLE</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->

      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="#group" onclick="w3_close()" class="w3-bar-item w3-button">GROUP</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT ME</a>
    <a href="#photo" onclick="w3_close()" class="w3-bar-item w3-button">PHOTO</a>
    <a href="#exam" onclick="w3_close()" class="w3-bar-item w3-button">EXAMPLE</a>
  </nav>

  <!-- Home -->
  <div class="bgheader" id="home">
    <br><br><br><br><br><br><br><br><br>
    <center><h2 style="font-size: 40px;color:white;">TEST TEXT TYPE</h2></center>
    <center><hr></center>
    <br>
    <div class="container w3-jumbo w3-animate-top">
        <form method="POST" action="" class="shadow-lg p-3 mb-5 bg-white rounded">
            {% csrf_token %}
            <div class="form-group">
                <center><input class="form-control" type="text" name="chat" required placeholder="Text.."></center>
            </div>

            <button type="submit" class="btn btn-warning" style="border-radius:50px;">Enter</button>
            <h3>Target : {{ label }}</h3>
            <h3>Accuracy : {{ corrects1 }}%</h3>
        </form>
    </div>
    <br><br><br><br><br><br>
  </div>




    <!-- Group -->
    <div class="w3-container" style="padding:128px 16px" id="group">
      <h3 class="w3-center">ABOUT THE GROUP</h3>
      <h5 class="w3-center">Explain about the text in each group.</h5>
      <div class="row w3-center" style="margin-top:64px">


          <div  class="w3-quarter">
            <i class="w3-margin-bottom w3-jumbo w3-center"> <img src="https://image.flaticon.com/icons/svg/732/732076.svg" style="width: 55px;" alt="windows"> </i>
            <h4>Microsoft windows</h4>
            <h6>Is an article about many Microsoft windows, both software and hardware.</h6>
          </div>      

          <div  class="w3-quarter">
            <i class="w3-margin-bottom w3-jumbo"> <img src="https://image.flaticon.com/icons/svg/16/16817.svg" style="width: 55px;" alt="windows"> </i>
            <h4>IBM PC hardware</h4>
            <h6>Is an article focusing on computer hardware such as CPU, RAM and ROM etc.</h6>
          </div>

          <div class="w3-quarter">
            <i class="w3-margin-bottom w3-jumbo"> <img src="https://image.flaticon.com/icons/svg/493/493955.svg" style="width: 55px;" alt="windows"> </i>
            <h4>Mac hardware</h4>
            <h6>Is an article focusing on MAC hardware such as PC phones.</h6>
          </div>

          <div class="w3-quarter">
            <i class="w3-margin-bottom w3-jumbo"> <img src="https://image.flaticon.com/icons/svg/2340/2340405.svg" style="width: 55px;" alt="windows"> </i>
            <h4>Motorcycles</h4>
            <h6>Is an article focusing on various vehicles such as cars, sports cars, motorcycles, etc.</h6>
          </div>

        
          <div class="w3-quarter">
            <i class="w3-margin-bottom w3-jumbo"> <img src="https://image.flaticon.com/icons/svg/2644/2644491.svg" style="width: 55px;" alt="windows"> </i>
            <h4>Electronics</h4>
            <h6>Is an article about electronic devices that have been developed to be modern for users</h6>
          </div>
        </div>
    </div>

    <!-- About ME-->
    <div class="w3-container bg" style="padding:72px 100px" id="about">
      <div class="w3-row-padding">
        <div class="w3-col m6" style="padding:170px 0px">
          <h2 style="color:white">About Me.</h2>
          <h4 style="color:white">My name is Lali. Nicname is Oum.<br>In my spare time, I enjoy playing games as everyone plays it in my friends. <br>I enjoy my responsibilities.</h4>
        </div>
        <div class="w3-col m6">
          <img class="w3-image w3-round-large" src="https://cf.shopee.co.th/file/054906c7fd2973b5aadd8f17ae8ccecd" alt="Profile" width="500" height="500">
        </div>
      </div>
    </div>


    <!-- Photo -->
    <div class="w3-container" style="padding:128px 16px" id="photo">
      <h2 class="w3-center">PHOTO ABOUT GROUP</h2>
      <h4 class="w3-center w3-large">Sample photo of groups</h4>

      <div class="w3-row-padding" style="margin-top:64px">
        <div class="w3-col l3 m6">
          <img src="https://img.kaidee.com/prd/20191104/350635338/m/f5929209-5877-4841-8f09-ca68dc432858.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Has anyone taken a look at the new ViewSonic 17? They claim 1280x1024 at 76Hz.
          How does it compare with the T560i in terms of price, and quality of display?">
        </div>
        <div class="w3-col l3 m6">
          <img src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/social/ios13-iphone-xs-restore-iphone-social-card.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Apple dealerships once had kits to replace the soldered in batteries with a battery 
          holder.">
        </div>
        <div class="w3-col l3 m6">
          <img src="https://www.checkraka.com/uploaded/logo/74/749a26e5aee4d6bd3d8ffec64fa590eb.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Squeaky BMW riders.">
        </div>
        <div class="w3-col l3 m6">
          <img src="https://spec.in.th/wp-content/uploads/2018/05/CPU-AMD-AM4-Ryzen-7-2700-3.2GHz-3.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Does anyone out there know of any products using Motorola's Neuron(r) chips MC143150 or MC143120. If so, what are they and are they utilizing Standard Network Variable Types (SNVT)?">
        </div>
      </div>

      <div class="w3-row-padding w3-section">
        <div class="w3-col l3 m6">
          <img src="https://v1.igetweb.com/www/igetoa/catalog/e_1007145.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Does anyone out there know if there are print drivers for Windows for the
          Panasonic KX-P1091i 9-pin dot matrix printer?">
        </div>
        <div class="w3-col l3 m6">
          <img src="https://pngimage.net/wp-content/uploads/2018/06/windows-31-logo-png-5.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt=" You can edit that file with a utility that comes with Windows 3.1 called
          'REGEDIT' (Registration Info Editor)">
        </div>
        <div class="w3-col l3 m6">
          <img src="https://picpost.mthai.com/storage/uploads/2011/04/131145.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="The V-max goes in a strait line like shit shrough a goose.
          In the corners, I'd rather ride a Honda 305 Dream.">
        </div>
        <div class="w3-col l3 m6">
          <img src="https://3.bp.blogspot.com/-ADT_VvYH_SE/VklLW98HEeI/AAAAAAAAAM0/h7cClTQlt88/s1600/LaCie-d2-Quadra.jpg" style="width:80%" onclick="onClick(this)"   class="w3-hover-opacity" alt="You're correct, except that's Quadra 800 not Centris 800.">
        </div>
      </div>
    </div>

    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
      <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <h4 id="caption" class="w3-opacity w3-large"></h4>
      </div>
    </div>

    

    <center><table id="exam">
      <th>
        <div id="img1" class="card">
          <img class="card-img-top" src="https://wallpaperaccess.com/full/1762020.jpg" alt="comp.os.ms-windows.misc">
          <div class="card-body">
            <h4 class="card-title">Computer OS microsoft windows</h4>
            <p id="p1" class="card-text">&nbsp;&nbsp; I am looking for some bar code fonts especially code 3 of 9. Did anybody know  any ftp sites or BBS that I can download these types of fonts? 
              Please email to me if you have any info.  <br>Thanks!</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Example computer OS microsoft windows</small>
          </div>
        </div></th>

        <th>
        <div id="img2" class="card">
          <img class="card-img-top" src="https://http2.mlstatic.com/razer-chroma-hdk-development-kit-led-na-cpu-D_NQ_NP_845083-MLB26428499053_112017-F.jpg" alt="comp.sys.ibm.pc.hardware">
          <div class="card-body">
            <h4 class="card-title">Computer system IBM PC hardware</h4>
            <p id="p2" class="card-text">&nbsp;&nbsp;   There is a benchmark program called COMPTEST said CYRIX CPUs have a bug so they cannot run the program. Also may be NeXTSTEP 486?
              <br> regards,</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Example Computer system IBM PC hardware</small>
          </div>
        </div></th>

        <th>
        <div id="img3" class="card">
          <img class="card-img-top" src="https://uploads-ssl.webflow.com/5bc276c9ccad94073c6ce0c4/5bc276c9ccad9468916ce290_iMac-Pro.jpg" alt="comp.sys.mac.hardware">
          <div class="card-body">
            <h4 class="card-title">Computer system Mac hardware</h4>
            <p id="p3" class="card-text">&nbsp;&nbsp; Could someone direct me to information on SCSI performance for each Mac? <br>
              (Max throughput, etc.)
              
              <br>
              Kurt Tiedtkebr
              <br>
              ktiedtke@jarthur.claremont.edu</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Example Computer system Mac hardware</small>
          </div>
        </div></th>

      <th>
        <div id="img4" class="card">
            <img class="card-img-top" src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/triumph-speed-twin_660_042519033454.jpg" alt="rec.motorcycles">
            <div class="card-body">
              <h4 class="card-title">Motorcycles</h4>
              <p id="p4" class="card-text">&nbsp;&nbsp; Animal Rights people have been know to do that to other "Bike riding dogs.cats and Racoons.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Example Motorcycles</small>
            </div>
        </div></th>

        <th>
        <div id="img5" class="card">
            <img class="card-img-top" src="https://i.imgur.com/oshb83t.jpg" alt="sci.electronics">
            <div class="card-body">
              <h4 class="card-title">Science Electronics</h4>
              <p id="p5" class="card-text">&nbsp;&nbsp; Doesn't Motorola AMCU have something on the BBS yet? (512-891-3733)</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Example Science Electronics</small>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </th>

    </table></center>
    <br><br>

    <footer class="w3-center w3-black w3-padding-64">
      <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
      <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
      <h6>BY <a href="#about" title="ABOUT ME" class="w3-hover-text-withe">LALI</a><h6p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script>
      $(document).ready(function(){
        $('p').hide();
        $('#img1').mouseleave(function(){
          $('#p1').hide(1000);
        });
        $('#img1').mouseenter(function(){
          $('#p1').show(1000);
        });

        $('#img2').mouseleave(function(){
          $('#p2').hide(1000);
        });
        $('#img2').mouseenter(function(){
          $('#p2').show(1000);
        });

        $('#img3').mouseleave(function(){
          $('#p3').hide(1000);
        });
        $('#img3').mouseenter(function(){
          $('#p3').show(1000);
        });

        $('#img4').mouseleave(function(){
          $('#p4').hide(1000);
        });
        $('#img4').mouseenter(function(){
          $('#p4').show(1000);
        });

        $('#img5').mouseleave(function(){
          $('#p5').hide(1000);
        });
        $('#img5').mouseenter(function(){
          $('#p5').show(1000);
        });
      });

      // Modal Image Gallery
      function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
      }


      // Toggle between showing and hiding the sidebar when clicking the menu icon
      var mySidebar = document.getElementById("mySidebar");

      function w3_open() {
        if (mySidebar.style.display === 'block') {
          mySidebar.style.display = 'none';
        } else {
          mySidebar.style.display = 'block';
        }
      }

      // Close the sidebar with the close button
      function w3_close() {
          mySidebar.style.display = "none";
      }
    </script>


</body>

</html>